@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;700&family=Poppins:wght@500;600&family=Roboto:wght@700;900&family=Rubik:wght@400;500;700&display=swap");
@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69");
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?za5w69") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?za5w69") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?za5w69#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-chev-down {
  font-size: 0.8rem;
  width: 1.5em;
}

.icon-chev-left {
  font-size: 1.3rem;
  width: 0.6153846154em;
}

.icon-chev-right {
  font-size: 1.3rem;
  width: 0.6153846154em;
}

.icon-close {
  font-size: 2.4rem;
  width: 1.0416666667em;
}

.icon-edit {
  font-size: 2.2rem;
  width: 1em;
}

.icon-events {
  font-size: 1.5rem;
  width: 1em;
}

.icon-exit {
  font-size: 1.3rem;
  width: 1em;
}

.icon-filter {
  font-size: 1.4rem;
  width: 1.1428571429em;
}

.icon-handler {
  font-size: 1.5rem;
  width: 0.8666666667em;
}

.icon-history {
  font-size: 1.3rem;
  width: 1em;
}

.icon-peoples {
  font-size: 1.1rem;
  width: 1.3636363636em;
}

.icon-prods {
  font-size: 1.5rem;
  width: 1em;
}

.icon-remove {
  font-size: 2.2rem;
  width: 0.7272727273em;
}

.icon-search {
  font-size: 2.2rem;
  width: 1em;
}

.icon-sort {
  font-size: 1.6rem;
  width: 1.0625em;
}

.icon-wallet {
  font-size: 1.1rem;
  width: 1.3636363636em;
}

/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--spoilers-*/
/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  min-width: 20rem;
  position: relative;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #535353;
  background-color: #9DC0BC;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  overflow-behavior: none;
}

html, body {
  height: 100%;
}

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
@supports (overflow: clip) {
  .main {
    overflow: clip;
  }
}
.main > * {
  min-width: 0;
}
.main .header {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.main .main-content {
  padding-top: 2.6875rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.main .footer {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input,
input {
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  border: 0 none;
}

textarea {
  resize: none;
  padding: 0 0;
}

.wrapper {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1110px;
}

.wrapper-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.875rem;
  margin-right: -1.875rem;
}
.wrapper-flex ._flex-col {
  width: calc(25% - 1.875rem);
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media only screen and (max-width: 67.5em) {
  .wrapper-flex ._flex-col {
    width: calc(33.3333333333% - 1.875rem);
  }
}
@media only screen and (max-width: 61.9375em) {
  .wrapper-flex ._flex-col {
    width: calc(50% - 1.875rem);
  }
}
@media only screen and (max-width: 47.99875em) {
  .wrapper-flex ._flex-col {
    width: calc(100% - 1.875rem);
  }
}

[class*=__wrapper] {
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 69.375rem;
}

.hidden {
  display: none;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  aspect-ratio: 1/1;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

.toggle-mnu {
  position: fixed;
  right: 1.875rem;
  top: 0.3125rem;
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 2;
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5625rem;
}
.toggle-mnu span:after {
  top: 1.125rem;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 0.125rem;
  background-color: #000;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.125rem;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  -ms-transform: rotate(45deg) translate(-0.0625rem, 0);
  transform: rotate(45deg) translate(-0.0625rem, 0);
}
.toggle-mnu.on span:after {
  -ms-transform: rotate(-45deg) translate(0.375rem, -0.4375rem);
  transform: rotate(-45deg) translate(0.375rem, -0.4375rem);
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2.875rem;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #85B6FF;
  padding: 0.3125rem 1.875rem;
  font-family: Rubik;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
}
.btn-md {
  height: 2.3125rem;
}
.btn-fw {
  width: 100%;
}
@media (any-hover: hover) {
  .btn {
    cursor: pointer;
  }
  .btn:hover {
    background-color: #9fc5ff;
  }
  .btn:active {
    background-color: #6ca7ff;
  }
}

/*--------------------END ui----------------------*/
/*--------------------admin-search----------------------*/
.admin-search__form {
  margin-bottom: 2.1875rem;
  padding: 0 1rem 0 5.0625rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 14px 0px #E5E5E5;
  border-radius: 7px;
}
@media only screen and (max-width: 47.99875em) {
  .admin-search__form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.admin-search__form .icon {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #85B6FF;
  left: 1.0475rem;
  font-size: 1.28rem;
}

.admin-search__label {
  display: block;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.admin-search__input {
  height: 3.5625rem;
  color: #C4C4C4;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 700;
}
.admin-search__input::-webkit-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}
.admin-search__input::-moz-placeholder {
  color: #C4C4C4;
  opacity: 1;
}
.admin-search__input:-moz-placeholder {
  color: #C4C4C4;
  opacity: 1;
}
.admin-search__input:-ms-input-placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.admin-search__submit {
  -ms-flex: 0 0 8.875rem;
  flex: 0 0 8.875rem;
}
@media only screen and (max-width: 47.99875em) {
  .admin-search__submit {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

.search-results {
  padding: 2.3125rem 2.625rem;
  position: absolute;
  left: 0;
  top: calc(100% + 2.9375rem);
  width: 100%;
  max-height: 21.1875rem;
  border-radius: 0.625rem;
  background: #FFF;
  box-shadow: 0px 4px 35px 0px #79D1D5;
  overflow-y: auto;
  transition: transform 0.3s;
  visibility: hidden;
  opacity: 0;
  -ms-transform: translateY(-0.625rem);
  transform: translateY(-0.625rem);
  z-index: 2;
}
.search-visible .search-results {
  visibility: visible;
  opacity: 1;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.search-results__item {
  height: 3.8125rem;
  background-color: #BCFCFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.3125rem 1.875rem;
}
.search-results__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (any-hover: hover) {
  .search-results__item {
    cursor: pointer;
  }
}

.header-table__row {
  display: -ms-flexbox;
  display: flex;
  column-gap: 1.875rem;
}

.body-table__row {
  display: -ms-flexbox;
  display: flex;
  column-gap: 1.875rem;
}

/*--------------------END admin-search----------------------*/
/*--------------------footer----------------------*/
/*--------------------END footer----------------------*/
/*--------------------header----------------------*/
.header {
  background-color: #fff;
  z-index: 5;
}

.header__wrapper {
  display: -ms-flexbox;
  display: flex;
  column-gap: 1.875rem;
  min-height: 3.375rem;
}
@media only screen and (min-width: 47.99875em) {
  .header__wrapper {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header__menu {
  position: relative;
}
.header__menu:before {
  content: "";
  display: block;
  height: 3.375rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}
@media only screen and (min-width: 47.99875em) {
  .header__menu:before {
    display: none;
  }
}

@media only screen and (min-width: 47.99875em) {
  .toggle-mnu {
    display: none;
  }
}

@media screen and (max-width: 47.99875em) {
  .menu-header__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow-y: auto;
  }
}
.menu-opened .menu-header__body {
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (max-width: 47.99875em) {
  .menu-header__body {
    background-color: #fff;
  }
}

.header-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 47.99875em) {
  .header-menu {
    -ms-flex-align: center;
    align-items: center;
  }
}
@media only screen and (max-width: 47.99875em) {
  .header-menu {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 3.375rem;
  }
}

.header-menu__item {
  list-style-type: none;
}

.header-menu__link {
  transition: all 0.4s;
}
.header-menu__link .icon {
  font-size: 0.9375rem;
  color: #85B6FF;
}
@media (any-hover: hover) {
  .header-menu__link {
    cursor: pointer;
  }
  .header-menu__link:hover {
    border-bottom-color: #FEA901;
  }
}
@media only screen and (max-width: 47.99875em) {
  .header-menu__link.header__item {
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .header-menu__link .icon {
    display: none;
  }
}

.header__actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 2.0625rem;
  position: relative;
  z-index: 3;
}
@media only screen and (min-width: 67.5em) {
  .header__actions {
    margin-right: -6.25rem;
  }
}

.header__wallet.header__item {
  padding-left: 0;
  padding-right: 0;
}
@media (any-hover: hover) {
  .header__wallet.header__item {
    cursor: default;
  }
}

.header__user {
  border-bottom: 3px solid transparent;
  transition: all 0.4s;
}

.header__item {
  padding-right: 2.0625rem;
  padding-left: 2.0625rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 0.625rem;
  color: #000;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
@media (max-width: 67.5em) {
  .header__item {
    padding-right: clamp( 0rem , -0.6875rem  +  3.4375vw , 2.0625rem );
  }
}
@media (max-width: 67.5em) {
  .header__item {
    padding-left: clamp( 0rem , -0.6875rem  +  3.4375vw , 2.0625rem );
  }
}
.header__item .icon {
  font-size: 0.9375rem;
  color: #85B6FF;
}
@media (any-hover: hover) {
  .header__item {
    cursor: pointer;
  }
  .header__item:hover {
    border-bottom-color: #FEA901;
  }
}

/*--------------------END header----------------------*/
/*--------------------products----------------------*/
.products {
  padding-bottom: 2.6875rem;
}

.products__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17.5rem, 1fr))[auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  column-gap: 2.875rem;
  row-gap: 2.8125rem;
}
@media (max-width: 67.5em) {
  .products__wrapper {
    column-gap: clamp( 0rem , -0.9583333333rem  +  4.7916666667vw , 2.875rem );
  }
}

.product-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 1.5625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1.5rem;
  padding-bottom: 1.8125rem;
}

.product-card__img {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  aspect-ratio: 282/242;
  margin-bottom: 1.8125rem;
}

.product-card__body {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.5625rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.product-card__title {
  max-width: 10.625rem;
}

.product-card__price {
  margin-top: auto;
}

.product-card__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  font-family: Montserrat;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 71.429%;
  letter-spacing: 0.2px;
  border-radius: 50%;
}
@media (any-hover: hover) {
  .product-card__btn {
    cursor: pointer;
  }
}

/*--------------------END products----------------------*/
/*# sourceMappingURL=maps/main.css.map */
