mixin modal-withdrawal()
	#modal-withdrawal.modal.micromodal-slide(aria-hidden='true')
		.modal__overlay(tabindex='-1' data-micromodal-close)
			.modal__container(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
				.modal__header
					button.modal__close(aria-label='Close modal'  data-micromodal-close)
						+icon('close')
					.modal__title Снятие Кронов
				main.modal__content
					form(action="#" class="form form-columns")
						//- label.form__label(for="withdrawal-field") Кроны
						//- input(id="withdrawal-field" autocomplete="off" type="text" name="kron-count" class="form__input" placeholder="Количество кронов")

						.form__column
							label.form__label(for="withdrawal-crons-field") Кроны
							input(id="withdrawal-crons-field" autocomplete="off" type="text" name="cron-count" class="form__input" placeholder="Количество кронов")

						.form__column
							label.form__label(for="withdrawal-event-field") Событие
							input(id="withdrawal-events-field" autocomplete="off" type="text" name="cron-event" class="form__input" placeholder="Событие")

						.form__block
							label.form__label(for="withdrawal-description") Описание
							textarea(id="withdrawal-description" autocomplete="off"  name="cron-descrption" class="form__area" placeholder="Описание товара")

						.modal__bottom
							button(type="submit").btn.btn-red.modal__action сНЯТЬ
							.modal__message.modal__message--error Ошибка снятия кронов, баланс уходит в минус
							//- button(type="button").btn.btn-gray.modal__action Отмена

mixin modal-refill()
	#modal-refill.modal.micromodal-slide(aria-hidden='true')
		.modal__overlay(tabindex='-1' data-micromodal-close)
			.modal__container(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
				.modal__header
					button.modal__close(aria-label='Close modal' data-micromodal-close)
						+icon('close')
					.modal__title Пополнение Кронов
				main.modal__content
					form(action="#" class="form form-columns")
						.form__column
							label.form__label(for="refill-crons-field") Кроны
							input(id="refill-crons-field" autocomplete="off" type="text" name="cron-count" class="form__input" placeholder="Количество кронов")

						.form__column
							label.form__label(for="refill-event-field") Событие
							input(id="refill-events-field" autocomplete="off" type="text" name="cron-event" class="form__input" placeholder="Событие")

						.form__block
							label.form__label(for="refill-description") Описание
							textarea(id="refill-description" autocomplete="off"  name="cron-descrption" class="form__area" placeholder="Описание товара")

						.modal__bottom
							button(type="submit").btn.modal__action ПОПОЛНИТЬ
							.modal__message.modal__message--success Баланс кронов успешно пополнен
							//- button(type="button").btn.btn-gray.modal__action Отмена
mixin product-create()
	#product-create.modal.micromodal-slide(aria-hidden='true')
		.modal__overlay(tabindex='-1' data-micromodal-close)
			.modal__container(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
				.modal__header
					button.modal__close(aria-label='Close modal' data-micromodal-close)
						+icon('close')
					.modal__title Создание Товара
				main.modal__content
					form(action="#" class="form form-columns")
						.form__block
							label.form__label(for="product-create-name") Наименование
							input(id="product-create-name" autocomplete="off" type="text" name="product-create-name" class="form__input" placeholder="Название товара")
							
							//- label.form__label(for="description") Событие
							//- textarea(id="description" autocomplete="off"  name="" class="form__area" placeholder="Описание товара")
						.form__column
							label.form__label(for="product-create-count") Количество
							input(id="product-create-count" autocomplete="off" type="text" name="product-create-count" class="form__input" placeholder="Количество товара")
						.form__column
							label.form__label(for="event-field") Цена
							input(id="product-create-price" autocomplete="off" type="text" name="product-create-price" class="form__input" placeholder="Цена")

						.form__block
							label.form__label(for="product-create-description") Описание
							textarea(id="product-create-description" autocomplete="off"  name="product-create-description" class="form__area" placeholder="Описание товара")

						.form__block
							.form__label.form__label--file Загрузить фото	
							.form__thumbs
								//- .form__thumb._fit
								//- 	img._fit-img(src="img/thumb.jpg" alt="alt")
								.form__files
									label.form__file-label
										span.form__false-file
											+icon('exit')
										input(type="file" name="" class="form__file" placeholder="Загрузить фото")


					.modal__bottom
						button(type="button").btn.modal__action Добавить
						.modal__message.modal__message--success Товар успешно добавлен
						//- button(type="button").btn.btn-gray.modal__action Отмена
mixin product-edit()
	#product-edit.modal.micromodal-slide(aria-hidden='true')
		.modal__overlay(tabindex='-1' data-micromodal-close)
			.modal__container(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
				.modal__header
					button.modal__close(aria-label='Close modal' data-micromodal-close)
						+icon('close')
					.modal__title Редактирование Товара
				main.modal__content
					form(action="#" class="form form-columns")
						.form__block
							label.form__label(for="product-edit-name") Наименование
							input(id="product-edit-name" autocomplete="off" type="text" name="product-edit-name" class="form__input" placeholder="Название товара")
							
							//- label.form__label(for="description") Событие
							//- textarea(id="description" autocomplete="off"  name="" class="form__area" placeholder="Описание товара")
						.form__column
							label.form__label(for="product-edit-count") Количество
							input(id="product-edit-count" autocomplete="off" type="text" name="product-edit-count" class="form__input" placeholder="Количество товара")
						.form__column
							label.form__label(for="product-edit-price") Цена
							input(id="product-edit-price" autocomplete="off" type="text" name="product-edit-price" class="form__input" placeholder="Цена")

						.form__block
							label.form__label(for="product-edit-description") Описание
							textarea(id="product-edit-description" autocomplete="off"  name="product-edit-description" class="form__area" placeholder="Описание товара")

						.form__block
							.form__label.form__label--file Загрузить фото	
							.form__thumbs
								//- .form__thumb._fit
								//- 	img._fit-img(src="img/thumb.jpg" alt="alt")
								.form__files
									label.form__file-label
										span.form__false-file
											+icon('exit')
										input(type="file" name="" class="form__file" placeholder="Загрузить фото")


					.modal__bottom
						button(type="button").btn.modal__action Редактировать
						.modal__message.modal__message--success Товар успешно добавлен
						//- button(type="button").btn.btn-gray.modal__action Отмена