#modal-withdrawal.modal.micromodal-slide(aria-hidden='true')
	.modal__overlay(tabindex='-1' data-micromodal-close)
		.modal__container(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
			.modal__header
				button.modal__close(aria-label='Close modal'  data-micromodal-close)
					+icon('close')
				.modal__title Снятие Кронов
			main.modal__content
				form(action="#" class="form")
					label.form__label(for="withdrawal-field") Кроны
					input(id="withdrawal-field" autocomplete="off" type="text" name="" class="form__input" placeholder="Количество кронов")

				.modal__bottom
					button(type="button" data-micromodal-close).btn.modal__action сНЯТЬ
					.modal__message.modal__message--error Ошибка снятия кронов, баланс уходит в минус
					button(type="button" data-micromodal-close).btn.btn-gray.modal__action Отмена

#modal-refill.modal.micromodal-slide(aria-hidden='true')
	.modal__overlay(tabindex='-1' data-micromodal-close)
		.modal__container(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
			.modal__header
				button.modal__close(aria-label='Close modal' data-micromodal-close)
					+icon('close')
				.modal__title Пополнение Кронов
			main.modal__content
				form(action="#" class="form form-columns")
					.form__column
						label.form__label(for="crons-field") Кроны
						input(id="crons-field" autocomplete="off" type="text" name="" class="form__input" placeholder="Количество кронов")

					.form__column
						label.form__label(for="event-field") Событие
						input(id="events-field" autocomplete="off" type="text" name="" class="form__input" placeholder="Событие")

					.form__block
						label.form__label(for="description") Событие
						textarea(id="description" autocomplete="off"  name="" class="form__area" placeholder="Описание товара")

				.modal__bottom
					button(type="button" data-micromodal-close).btn.modal__action ПОПОЛНИТЬ
					.modal__message.modal__message--success Баланс кронов успешно пополнен
					button(type="button" data-micromodal-close).btn.btn-gray.modal__action Отмена