.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chev-left {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-chev-right {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-close {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-events {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-exit {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.icon-handler {
	font-size:(15/10)*1rem;
	width:(13/15)*1em;
}
.icon-history {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.icon-prods {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-wallet {
	font-size:(11/10)*1rem;
	width:(15/11)*1em;
}
