/*--------------------ui----------------------*/
.btn{
	@include but-null();
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(46);
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $blue;
  padding: rem(5) rem(30);
  font-family: Rubik;
	font-size: rem(14);
	font-weight: 500;
	text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
	
  @media (any-hover: hover) { //только для устройств с ховером
  		cursor: pointer;
  		 &:hover{
		     background-color: lighten($blue, 5%);
		  }
		   
				
		  &:active{
		   background-color: darken($blue, 5%);
		  }
  	}
 
  
  &-md{
   height: rem(37);
  }
  &-sm{
    height: rem(32);
    font-size: rem(12);
  }
  &-red{
    background-color: $red;
    @media (any-hover: hover) { //только для устройств с ховером
        cursor: pointer;
         &:hover{
             background-color: lighten($red, 5%);
          }
           
                
          &:active{
           background-color: darken($red, 5%);
          }
    }
  }
  &-gray{
    color: $gray;
    background-color: $gray-bg;
    @media (any-hover: hover) { //только для устройств с ховером
        cursor: pointer;
         &:hover{
             background-color: lighten($gray-bg, 5%);
          }
           
                
          &:active{
           background-color: darken($gray-bg, 5%);
          }
    }
  }
   &-fw{
   width: 100%;
  }

   
}
.pagination{
  @include pagination($width: 34, 
    $gap: 3, 
    $fontSize: 14, 
    $round: 4px, 
    $color: $text, 
    $bg: transparent, 
    $activeColor: #fff, 
    $activeBg: $blue,
    $arrowColor: $text-dark);

  margin-top: rem(15);
  font-family: Rubik;
    font-weight: 400;
}
.pagination__link{
    text-decoration: none;

    @media (any-hover: hover) { //только для устройств с ховером
            cursor: pointer;
            &:hover{
                color: #000;
            }
        }
}
.pagination__arrow{
    display: flex;
    align-items: center;
    gap: rem(10);
    color: $text-dark;


    @media (any-hover: hover) { //только для устройств с ховером
            cursor: pointer;
            &:hover{
                color: #000;
            }
        }

    .icon{
        font-size: rem(12);
        // color: $text-dark;
    }
}
.pagination__arrow--prev{
    flex-direction: row-reverse;
}

.form{
    &__input,
    &__area{
        display: block;
        padding: 0 rem(8);
        height: 40px;
        border-radius: 4px;
        border: 1px solid $border;
        background: #FFF;
        @include placecolor($border);

        &:not(:last-child){
          margin-bottom: rem(40);  
        }

    }
    &__area{
        padding-top: rem(7);
        height: rem(75);
        width: 100%;
        font-family: 'Rubik', sans-serif;
        font-size: rem(14);
        font-weight: 400;
        line-height:  128.571%;
    }
    &__label{
        margin-bottom: rem(3);
        color: $text;
       font-family: 'Rubik', sans-serif;
        font-size: rem(14);
        font-weight: 400;
        line-height:  128.571%;

        &--file{
            color: #000;
            text-align: right;
        }
    }
    &-columns{
        display: flex;
        flex-wrap: wrap;
        row-gap: rem(20);
        column-gap: rem(27);
    }
    &__column{
        flex: 1 0 calc(50% - rem(27));

        @include max-screen($xss){
            flex: 0 0 100%;
        }
    }
    &__block{
        flex: 1 1 100%;
    }
    &__files{

    }
}
.form__thumbs{
    display: flex;
    justify-content: flex-end;
    gap: rem(17);
    flex-wrap: wrap;
    position: relative;
}
.form__thumb{
    flex: 0 0 rem(80);
    aspect-ratio: 1/1;
}
.form__files{

}
.form__file-label{
}
.form__false-file{
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(80);
    height: rem(80);
    position: relative;
    border: 2px solid $blue;

    .icon{
        // @include absolute-center;
        transform: rotate(-90deg);
        color: $icons;
        font-size: rem(18);
    }

}
.form__file{
    @include checkbox();
    border: 2px solid $blue;
}
/*--------------------END ui----------------------*/ 