/*--------------------header----------------------*/
.header {
	background-color: #fff;
	z-index: 5;
}
.header__wrapper {
	position: relative;
	display: flex;
	column-gap: rem(30);
	min-height: rem(54);
	@include min-screen($sm){
		justify-content: space-between;
		
	}
}
.header__menu {
	position: relative;
	&:before{
		content: '';
		display: none;
		height: rem(54);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 2;


		@include min-screen($sm){
			display: none;
		}
	}
	.menu-opened &{
		display: block;
	}
}
.menu-header {}
.toggle-mnu {
	@include min-screen($sm){
		display: none;
		
	}
}
.menu-header__body {

	@include menu-mob($sm);
	@include max-screen($sm){
		background-color: #fff;
	}


}
.header-menu {
	display: flex;
	flex-wrap: wrap;

	@include min-screen($sm){
		align-items: center;
		
	}
	@include max-screen($sm){
		flex-direction: column;
		padding-top: rem(54);
	}
}
.header-menu__item {
	list-style-type: none;
	&:first-child{
		.header-menu__link {
			&.active{
				@include min-screen($sm){
					border-bottom-color: $orange;
				}
					
			}
			@media (any-hover: hover) { //только для устройств с ховером

				&:hover{
					border-bottom-color: $orange;
				}
			}
		}
	}
	&:nth-child(2){
		.header-menu__link {
			&.active{
				@include min-screen($sm){
					border-bottom-color: #5C9D33;
				}
					
			}
			@media (any-hover: hover) { //только для устройств с ховером

				&:hover{
					border-bottom-color: #5C9D33;
				}
			}
		}
	}
	&:nth-child(3){
		.header-menu__link {
			&.active{
				@include min-screen($sm){
					border-bottom-color: #37B38E;
				}
					
			}
			@media (any-hover: hover) { //только для устройств с ховером

				&:hover{
					border-bottom-color: #37B38E;
				}
			}
		}
	}
	&:nth-child(4){
		.header-menu__link {
			&.active{
				@include min-screen($sm){
					border-bottom-color: #3795B3;
				}
					
			}
			@media (any-hover: hover) { //только для устройств с ховером

				&:hover{
					border-bottom-color: #3795B3;
				}
			}
		}
	}

}
.header-menu__link {
	
	transition: all .4s;
	.icon {
		font-size: rem(15);
		color: $icons;
	}

	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
	}
	&.header__item{

		@include max-screen($sm){
			justify-content: center;
			font-size: rem(24);
		}
	}
	.icon{
		@include max-screen($sm){
			
			display: none;
		}
	}
}
.header-menu__span {}
.header__actions {
	display: flex;
	align-items: center;
	column-gap: rem(33);
	position: relative;
	z-index: 3;

	@include min-screen(em($maxWidthContainer + 150)){
		margin-right: rem(-100);
	}
}
.header__wallet{
	max-width: rem(75);
	span{
	@include dots-family();

	}
	&.header__item{
		padding-left: 0;
		padding-right: 0;

		@media (any-hover: hover) { //только для устройств с ховером
			cursor:default;

		}
	}


}
.header__user {
	border-bottom: 3px solid transparent;
	transition: all .4s;

	@media (any-hover: hover) { //только для устройств с ховером
		&.active{
			border-bottom-color: #6637B3;
		}
		&:hover{
			border-bottom-color: #6637B3;
		}
	}
}
.header__item{
	@include adaptive-value-rem('padding-right', 33, 0, $maxWidth, $minWidth, 1);
	@include adaptive-value-rem('padding-left', 33, 0, $maxWidth, $minWidth, 1);
	padding-top: rem(18);
	padding-bottom: rem(18);
	display: flex;
	align-items: center;
	column-gap: rem(10);
	color: #000;
	font-family: 'Inter', sans-serif;
	font-size: rem(12);
	font-weight: 400;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	.icon {
		font-size: rem(15);
		color: $icons;
	}
}
/*--------------------END header----------------------*/ 