/*--------------------tables----------------------*/
.table{
	.counter{
		height: rem(17);
		width: auto;
		position: relative;
		border: none;
	}
	.counter__count{
		font-size: rem(16);
	}
	.counter__button{
		flex:  0 0 auto;
		max-width: none;
		position: absolute;
		width: rem(10);
		height: 50%;
		display: block;
		font-size: inherit;
		right: rem(-13);
	}
	.counter-minus{
		bottom: rem(-1);
	}
	.counter-plus{
		top: rem(-1);
			}
	.icon{
		display: block;
		color: $text;
		font-size: 8px;
	}
}
.admin-search__table {
	.header-table__column,
	.body-table__column {
		text-align: center;

		&:first-child{
			flex: 1 1 prc(408,$maxWidthContainer);
		}

		&:nth-child(2){
			flex: 1 1 prc(167,$maxWidthContainer);
			
		}
		&:nth-child(3){
			flex: 1 1 prc(246,$maxWidthContainer);
			
		}
		&:nth-child(4){
			flex: 1 1 prc(257,$maxWidthContainer);
			
		}


		@include max-screen($sm){
			text-align: left;

			&:not(:last-child){
				margin-bottom: rem(10);
			}

		}


	}


}
.table__header {
	.header-table__row{
		padding: 0  0 rem(21) 0;
	}

	@include max-screen($sm){
		display: none;
	}

}
.body-table__row {
	@include max-screen($sm){
		flex-direction: column;
		
	}

}
.table {}
.header-table {
	color: $text;
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height:  125%;
}
.header-table__row {
	display: flex;
	column-gap: rem(30);

}
.table__column {}
.table__body {
}
.body-table {}
.body-table__row {
	display: flex;
	column-gap: rem(30);
	padding: rem(27) rem(15) rem(33) rem(15);
	border-radius: 4px;
	background-color: #fff;

	&:not(:last-child){
		margin-bottom: rem(16);
	}

}
.body-table__label{
	color: $text;
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height:  125%;
	@include min-screen($sm){
		display: none;
	}
}

.admin-edit__table {
	.header-table__column,
	.body-table__column {
		text-align: center;

		&:first-child{
			flex: 1 1 prc(246,$maxWidthContainer);
		}

		&:nth-child(2){
			flex: 1 1 prc(291,$maxWidthContainer);
			
		}
		&:nth-child(3){
			flex: 1 1 prc(317,$maxWidthContainer);
			
				@include min-screen($sm){
					@include dots-family();
					
				}

			.body-table__val{
				@include min-screen($sm){
					
					@include dots-family();
				}
			}
			
		}
		&:nth-child(4){
			flex: 1 1 prc(225,$maxWidthContainer);
			
		}


		@include max-screen($sm){
			text-align: left;

			&:not(:last-child){
				margin-bottom: rem(10);
			}

		}


	}

}

.admin-products__table {
	.header-table__column,
	.body-table__column {
		text-align: center;

		&:first-child{
			flex: 0 0 prc(160,$maxWidthContainer);
			.body-table__label{
				@include max-screen($sm){
					margin-bottom: rem(15);
				}
			}
		}

		&:nth-child(2){
			flex: 1 1 prc(198,$maxWidthContainer);
			
		}
		&:nth-child(3){
			flex: 1 1 prc(134,$maxWidthContainer);
			
		}
		&:nth-child(4){
			flex: 1 1 prc(207,$maxWidthContainer);
			
		}
		&:nth-child(5){
			flex: 1 1 prc(168,$maxWidthContainer);
			
		}
		&:nth-child(6){
			flex: 1 1 prc(211,$maxWidthContainer);
			
		}


		@include max-screen($sm){
			text-align: left;

			&:not(:last-child){
				margin-bottom: rem(10);
			}

		}


	}

}
.body-table__form{
	display: inline-block;
}
.body-table__button{
	@include but-null();
	margin: 0 rem(10);

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
			&:hover{
	
			}
		}

	.icon{
		font-size: rem(24);
		color: $icons;
	}
}

.purchases__table {
	.header-table__column,
	.body-table__column {
		text-align: center;

		&:first-child{
			flex: 1 1 prc(167,$maxWidthContainer);
		}

		&:nth-child(2){
			flex: 1 1 prc(170,$maxWidthContainer);
			
		}
		&:nth-child(3){
			flex: 1 1 prc(143,$maxWidthContainer);
			
		}
		&:nth-child(4){
			flex: 1 1 prc(191,$maxWidthContainer);
			
		}
		&:nth-child(5){
			flex: 1 1 prc(174,$maxWidthContainer);
			
		}
		&:nth-child(6){
			flex: 1 1 prc(219,$maxWidthContainer);
			
		}


		@include max-screen($sm){
			text-align: left;

			&:not(:last-child){
				margin-bottom: rem(10);
			}

		}


	}

}

.body-table__abort{
	@include but-null();
	display: flex;
	align-items: center;
	column-gap: rem(13);
	font-family: 'Rubik', sans-serif;
	transition: opacity .2s;

	.icon{
		font-size: rem(20);
		color: $red;
	}

	@include max-screen($sm){
		margin: rem(10) 0;

	}

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
			&:hover{
				opacity: .7;
			}
		}
}
.purchase-status{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: rem(135);
	padding: rem(5);
	border-radius: rem(20);
	font-size: rem(14);
}
.purchase-status--complect{
	background-color: #EDE7FB;
}
.purchase-status--received{
	background-color: #D4F8D3;
}
.purchase-status--ready{
	background-color: #FFF0BB;
}
.purchase-status--abort{
	background-color: #FBE7E9;
}

.cart__table {
	.header-table__column,
	.body-table__column {
		text-align: center;

		&:first-child{
			flex: 1 1 prc(159,659);
			max-width: prc(159,659);
		}

		&:nth-child(2){
			flex: 1 1 prc(179,659);
			max-width: prc(159,659);
			
		}
		&:nth-child(3){
			flex: 1 1 prc(136,659);
			max-width: prc(159,659);
			
		}
		&:nth-child(4){
			flex: 1 1 prc(184,659);
			max-width: prc(159,659);
			
		}

		@include max-screen($sm){
			text-align: left;

			&:not(:last-child){
				margin-bottom: rem(10);
			}

		}


	}

}
@import "_misc/_counter";
/*--------------------END tables----------------------*/ 